
.icon-phone:before { content: '\e800'; } /* '' */
.icon-address-book:before { content: '\e801'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-off:before { content: '\e804'; } /* '' */
.icon-menu-1:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-dribbble:before { content: '\e807'; } /* '' */